body{
    margin: 0;
    padding: 0;
    background: #f1f5f9;
    font-family: Arial, Helvetica, sans-serif;
}

/* WRAPPER */
.wrapper{
    display: flex;
    min-height: 100vh;
}

/* SIDEBAR */
.sidebar{
    width: 260px;
    background: #481c50;
    padding: 20px;
}

.sidebar-header{
    margin-bottom: 40px;
}

.sidebar-header h3{
    color: white;
    font-weight: bold;
}

/* MENU */
.sidebar-menu .nav-item{
    margin-bottom: 10px;
}

.sidebar-menu .nav-link{
    color: #cbd5e1;
    padding: 14px 16px;
    border-radius: 12px;
    display: flex;
    align-items: center;
    gap: 12px;
    transition: 0.3s;
}

.sidebar-menu .nav-link:hover{
    background: #1e293b;
    color: white;
}

.active-menu{
    background: #2563eb;
    color: white !important;
}

/* MAIN CONTENT */
.main-content{
    flex: 1;
    display: flex;
    flex-direction: column;
}

/* TOP NAVBAR */
.top-navbar{
    background: white;
    padding: 20px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #e2e8f0;
}

.page-title{
    margin: 0;
    font-weight: bold;
}

/* TOP RIGHT */
.top-right{
    display: flex;
    align-items: center;
    gap: 15px;
}

.notification-btn{
    border: none;
    background: #f1f5f9;
    width: 45px;
    height: 45px;
    border-radius: 12px;
    font-size: 18px;
}

.admin-profile{
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background: #2563eb;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}

/* CONTENT */
.content-area{
    padding: 30px;
}

/* CARD */
.card{
    border-radius: 18px;
}

/* TABLE */
.table thead th{
    background: #f8fafc;
    border-bottom: none;
    color: #64748b;
    font-weight: 600;
}

.table td,
.table th{
    padding: 18px;
    vertical-align: middle;
}

/* BUTTON */
.btn{
    border-radius: 10px;
}